@{
    string labelColumns = ViewBag.ColSizeLabel ?? "col-sm-3 col-md-3 col-lg-2";
    string controlColumns = ViewBag.ColSizeLong ?? "col-md-8 col-sm-8";
}

<div class="form-group">
    @Html.Label("", new { @class = "control-label " + labelColumns })
    <div class="@controlColumns">
        @Html.DropDownList("", ViewData[ViewData.ModelMetadata.PropertyName] as ICollection<SelectListItem>, new { @class = "form-control" })
        @Html.ValidationMessage("", null, new { @class = "text-danger" })
    </div>
</div>