<hr />
<div class="form-group">
    <div class="col-sm-offset-3 col-md-offset-3 col-lg-offset-2 col-sm-8">
        <button type="submit" class="btn btn-success">
            <i class="fa fa-floppy-o"></i> Kaydet
        </button>
    </div>
</div>
