@model string

<div class="form-group">
    <div class="col-md-12">
        @Html.TextArea("", Model, new { @class = "summernote", rows = 6 })
        @Html.ValidationMessage("", null, new { @class = "text-danger" })
    </div>
</div>
