<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://hy-sb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>hy-sb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>hy-sb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$hy-sb</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection2" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:hdg7y7bc4b.database.windows.net,1433;Initial Catalog=halityurttas_sb;User ID=sbadmin@hdg7y7bc4b;Password=Sb1452**" Name="Data Source=tcp:hdg7y7bc4b.database.windows.net,1433;Initial Catalog=halityurttas_sb;User Id=sbadmin@hdg7y7bc4b;Password=Sb1452**" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=hdg7y7bc4b.database.windows.net;Initial Catalog=halityurttas_sb;Persist Security Info=True;User ID=sbadmin;Password=Sb1452**" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=hdg7y7bc4b.database.windows.net;Initial Catalog=halityurttas_sb;Persist Security Info=True;User ID=sbadmin;Password=Sb1452**;MultipleActiveResultSets=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection1" Order="4" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=prosmartyazilim.com;Initial Catalog=halityurttas_sb;Persist Security Info=True;User ID=halityurttas_sbdba;Password=sbdba1452**" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=prosmartyazilim.com;Initial Catalog=halityurttas_sb;Persist Security Info=True;User ID=halityurttas_sbdba;Password=sbdba1452**;MultipleActiveResultSets=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection3" Order="6" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\Projectsv12;AttachDbFilename=|DataDirectory|\SiteData.mdf;Initial Catalog=SiteData;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\Projectsv12;AttachDbFilename=|DataDirectory|\SiteData.mdf;Initial Catalog=SiteData;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="7" Enabled="False" xmlns="">
          <Destination Path="Data Source=tcp:hdg7y7bc4b.database.windows.net,1433;Initial Catalog=halityurttas_sb;User ID=sbadmin@hdg7y7bc4b;Password=Sb1452**" Name="Data Source=tcp:hdg7y7bc4b.database.windows.net,1433;Initial Catalog=halityurttas_sb;User Id=sbadmin@hdg7y7bc4b;Password=Sb1452**" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SmartBazaar.Web.Models.Ident.ApplicationDbContext, SmartBazaar.Web" MigrationConfiguration="SmartBazaar.Web.Migrations.Ident.Configuration, SmartBazaar.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:hdg7y7bc4b.database.windows.net,1433;Initial Catalog=halityurttas_sb;User Id=sbadmin@hdg7y7bc4b;Password=Sb1452**</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection2-Web.config Connection String">
      <ParameterValue>data source=tcp:hdg7y7bc4b.database.windows.net,1433;initial catalog=halityurttas_sb;user id=sbadmin@hdg7y7bc4b;password=Sb1452**;MultipleActiveResultSets=true</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>