<div style="display: none;" class="modal fade bs-modal-lg" id="mdlFileManager" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Ürün Listesi</h4>
            </div>
            <div class="modal-body">
                <iframe src="@Url.Action("Index", "FileManager")" style="zoom:0.60" width="99.6%" height="450" frameborder="0"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

