
<li class="dropdown dropdown-user">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <img alt="" class="img-circle" src="../../assets/admin/layout/img/avatar.png" />
        <span class="username username-hide-on-mobile">
            Admin
        </span>
        <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-default">
        <li>
            <a href="@Url.Action("ChangePassword", "AdminManager")">
                <i class="icon-key"></i> Şifre Değiştir
            </a>
        </li>
        <li>
            <a href="@Url.Action("LogOff", "Account", new { area = string.Empty })">
                <i class="icon-lock"></i> Çıkış
            </a>
        </li>
    </ul>
</li>